.DS_Store
CODE_OF_CONDUCT.md
CONTRIBUTING.md
LICENSE
NOTICE
models/.DS_Store
models/DeepFashion/extractor_best.pkl
models/DeepFashion/memory_best.pkl
splits/.DS_Store
splits/DeepFashion/attr_num.txt
splits/DeepFashion/gt_test.txt
splits/DeepFashion/imgs_test.txt
splits/DeepFashion/imgs_train.txt
splits/DeepFashion/indfull_test.txt
splits/DeepFashion/labels_test.txt
splits/DeepFashion/labels_train.txt
splits/DeepFashion/ref_test.txt
splits/DeepFashion/triplet_train_ind.txt
splits/DeepFashion/triplet_train.txt
splits/Shopping100k/attr_num.txt
splits/Shopping100k/gt_test.txt
splits/Shopping100k/imgs_test.txt
splits/Shopping100k/imgs_train.txt
splits/Shopping100k/indfull_test.txt
splits/Shopping100k/labels_test.txt
splits/Shopping100k/labels_train.txt
splits/Shopping100k/ref_test.txt
splits/Shopping100k/triplet_train_ind.txt
splits/Shopping100k/triplet_train.txt
src/__init__.py
src/eval.py
src/init_mem.py
src/train_attr_manip.py
src/train_attr_pred.py
